html{
    font-size:62.5%;
}
h1{color:black;
    font-weight:bolder;
font-size: 5rem;
font-family: 'Courier New', Courier, monospace;
}


h3,h4,h5,h6,p.f{
    color: black;
    font-size: 3rem;
    font-style: italic;
}

h2{color: black;
    font-size:5rem;
    font-family: cursive;
}
p{
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    color:black;
}
    img{
        border-radius: 50%;
        border-style: groove ;
        box-sizing: .5rem;
    }
body{background-color: skyblue;
    text-align: center;
    font-size: 2rem;
}
p.a,p.b,p.c,p.d,p.e
{background-color: lightgreen;
    border-color:black;
    border-width:.2rem;
    border-style:solid;
    font-style: italic;
    color:brown;
}
a:link,a:visited {
    background-color:white;
    color: green;
    border: .2rem solid black;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,p.a:hover,p.b:hover,p.d:hover,p.c:hover{
    background-color:green;
    color:white;
  }
